<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="comp-lista-styles.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../coronita-icons/coronita-icons.html">
<link rel="import" href="../cells-component-app-header/cells-component-app-header.html">
<dom-module id="comp-lista">
  <script src="comp-lista.js"></script>
</dom-module>